/* styles.css */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/* styles.css */
.slide-left-enter {
  transform: translateX(-10%);
  opacity: 0;
}

.slide-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.slide-left-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-left-exit-active {
  transform: translateX(10%);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

/* styles.css */
.zoom-enter {
  transform: scale(0.9);
}

.zoom-enter-active {
  transform: scale(1);
  transition: transform 300ms;
}

.zoom-exit {
  transform: scale(1);
}

.zoom-exit-active {
  transform: scale(0.9);
  transition: transform 300ms;
}
/* styles.css */
.flip-enter {
  transform: rotateY(90deg);
}

.flip-enter-active {
  transform: rotateY(0);
  transition: transform 300ms;
}

.flip-exit {
  transform: rotateY(0);
}

.flip-exit-active {
  transform: rotateY(90deg);
  transition: transform 300ms;
}
